// カラーセット

$bk: #000; // ブラック
$gr: #808080; // グレイ
$sl: #c0c0c0; // シルバー
$wt: #fff; // ホワイト
$bl: #00f; // ブルー
$nv: #000080; // ネイビー
$cy: #0ff; // シアン
$tl: #008080; // ティールグリーン
$gr: #008000; // グリーン
$lm: #0f0; // ライムグリーン
$ol: #808000; // オリーブ
$yl: #ff0; // イエロー
$or: orange; // オレンジ
$rd: red; // レッド
$mt: #f0f; // マゼンタ
$pl: #800080; // パープル

// commonカラー
// 背景
$bgc: #f9f9f9;

// 文字
$baseFontColor: #252525;

$baseR: 5px;